th,td,p{
 text-align: center;
}

p{
    font-size:xx-large;
    font-weight: bold;
}

#cart-header
{
    margin-top: 60px;
}

#cart-table{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}
